*{
	padding: 0;
	margin: 0;
}

#menu ul{
	width:600px;
	margin:auto;
}
#menu {
	background:#0af90a;
}
#menu ul li{
	list-style: none;
	display:inline-block;
	position:relative;
    
   
}

#menu ul a{
	text-decoration:none;
    color:#fff;
    font-size:20px;
    background:#0af90a;
    display:block;
     padding:10px 15px;
}

#menu ul a:hover{
	background:#00f;
}

#menu ul li ul{
	position:absolute;
	display:none;
}

#menu ul li ul li{
	display:inline;

}

#menu ul li ul li a{
	width:120px;
}

#menu ul li:hover > ul{
	display:block;
}

#menu ul ul  ul{
	margin-left:150px;
	margin-top:-45px;
}

#menu ul a span{
	font-weight:bold;
}

@media screen and (max-width:500px)
{
	#menu ul{
		width:100%;
	}
	#menu ul li{
		display:inline;
		position:static;
	}

	#menu ul li ul{
		position:static;
		border-top:2px solid red;
		border-bottom:2px solid red;
		
		
	}
	#menu ul li ul li a{
		background:#2f2f42;
		width:100%;
		padding-left: 30px;
		display: block;
	}
	#menu ul ul ul{
		margin-left:0;
		margin-top:0;
		
	}

	#menu ul ul ul li a{
		padding-left:50px;
	}
	
}